{% extends 'base.html.twig' %}

{% block title %}{{parent()}} accueil{% endblock %}

{% block body %}

    <header>
        {% include "inc/static_link.html.twig" %}
    </header>
    <main class="text-center">
        <section class="m-5 p-5">
            <h1>Mes comptes, tout simplement&nbsp;!</h1>
			<h2>Votre application de gestion du budget familliale.</h2>
			<br/>
			<p>Que vous soyez plutôt radin, économe ou dépensié,<br/>
				nous vous fournissons tous les outils dont vous avez besoin pour</p>
			<br/>
			<a href="#">
				<h3>gérez simplement votre argent</h3>
			</a>
        </section>

        <section class="w-50 mb-5 pt-2 pb-5 mx-auto row justify-content-around">
            <div class="col-6 p-3 text-center">
				<p>Je suis nouveau ici.</p>
				<button class="btn btn-primary">
					<a href="#" class="text-s-lgt">
						Je m'inscris
					</a>
				</button>
			</div>
			<div class="col-6 p-3 text-center">
				<p>Je suis déjà inscrit.</p>
				<button class="btn btn-primary">
					<a href="#" class="text-s-lgt">
						Je me connecte
					</a>
				</button>
			</div>
        </section>
        
		<section class="text-center bg-primary text-s-lgt w-100 p-5">
			<span class="material-icons fs-1">
				accessibility_new
			</span>
			<h2>Accessibilité pour toutes et&nbsp;tous&nbsp;!</h2>
			<p>Cette application a été pensée pour que chacun et chacune d'entre nous puisse l'utiliser sans aucune exception.</p>
		</section>
        <section class="w-100 bg-primary text-s-lgt p-5 d-lg-flex justify-content-around align-items-center">
			<div class="col-lg-4 col-12 p-3">
				<span class="material-icons fs-1">
					pie_chart
				</span>
				<h2>Gérer, c'est anticiper&nbsp;!</h2>
				<P>Enregistrez vos dépenses mensuelles dîtes "récurrentes", vos dépenses variables ou quotidennes.
																																																	Vous pourrez ainsi anticiper les imprévus.
				</P>
			</div>
			<div class="col-lg-4 col-12 p-3">
				<span class="material-icons fs-1">
					explore
				</span>
				<h2>Anticiper, c'est décider&nbsp;!</h2>
				<p>Créez des comptes "virtuels" qui seront le reflet de vos comptes bancaire.
																																																	Vous avez maintenant une meilleure gestion de votre budget familliale.</p>
			</div>
		</section>
		
    </main>
    <footer>
        {% include "inc/footer.html.twig" %}
    </footer>

{% endblock %}
