// Custom colors
$primary: #1a237e;
$p-lgt: #534bae;
$p-drk: #000051;
$secondary: #e8eaf6;
$s-lgt: #ffffff;
$s-drk: #b6b8c3;
$success: #b9f6ca; //#3e8d63
$info: #13101c;
$warning: #ffe57f; //#945707
$danger: #ff8a80; //#d62518
$light: #f8f9fa;
$dark: #343a40;
// Boostrap theme with custom colors
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  p-lgt: $p-lgt,
  p-drk: $p-drk,
  s-lgt: $s-lgt,
  s-drk: $s-drk,
);
@import "~bootstrap/scss/bootstrap";
@import "./app.scss";