<div class="p-3 text-center text-s-lgt bg-p-drk">
    <p>&copy; Copyright scribo_ergo_sum</p>
    <p><span class="material-icons fs-3">explore</span></p>
    <small>- YoStM -</small>
    <p>Powered by Bootstrap 5.2</p>
</div>
